.containerImgFS {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  padding: 20px;
  }
  
  .titleImgFS {
  font-size: 3em;
  color: black;
  font-family: 'Century Gothic';
  }
  
  .subtitleImgFS {
  font-size: 2em;
  color: darkgrey;
  text-decoration: underline;
  font-family: 'Century Gothic';
  }
  
  .textImgFS {
  color: black;
  font-family: 'Century Gothic';
  }
  
  .listImgFS {
  list-style-type: disc;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  }
  
  .centeredImgFS {
  text-align: center;
  }
  
  .video-containerImgFS {
  display: flex;
  justify-content: center;
  }
  
  .videoImgFS {
  width: 50%;
  height: auto;
  }
  
  .select-containerImgFS {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  }
  
  .selectImgFS {
  background-color: #333;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  }
  
  .button-containerImgFS {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  }
  
  .buttonImgFS {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-family: 'Century Gothic';
  cursor: pointer;
  }

  .music-creditImgFS {
  position: absolute;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  font-family: 'Eurostile';
  }