.projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .top-left-text {
    color: #c0720b; /* Wood color */
    font-family: 'Century gothic';
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 4.5rem;
}
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Century gothic';
  }
  
.optionImgFS {
    color: #DEB887; /* Wood color */
    padding: 3px;
    cursor: pointer;
    transform: rotate(-28deg) translateY(75px) translateX(220px);
    font-size: 1.5rem;
    font-family: 'Century gothic';
}

.optionJavions {
    color: #DEB887; /* Wood color */
    padding: 3px;
    cursor: pointer;
    transform: rotate(-28deg) translateY(75px) translateX(200px);
    font-size: 1.5rem;
    font-family: 'Century gothic';
}

.optionClean {
    color: #DEB887; /* Wood color */
    padding: 5px 10px;
    cursor: pointer;
    transform: rotate(-27deg) translateY(75px) translateX(228px);
    font-size: 1.5rem;
    font-family: 'Century gothic';
}
  
.optionImgFS:hover, .optionJavions:hover, .optionClean:hover {
    text-shadow: 2px 2px 4px rgb(228, 156, 55);
}

  
  .guitar-video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


.optionImgFS, .optionJavions, .optionClean {
    cursor: pointer;
    transition: transform 0.5s, opacity 0.5s;
}

.optionImgFS.selected {
    animation: shrink-grow-fade-ImgFS 1.5s forwards;
}

.optionJavions.selected {
    animation: shrink-grow-fade-javions 1.5s forwards;
}

.optionClean.selected {
    animation: shrink-grow-fade-clean 1.5s forwards;
}

@keyframes shrink-grow-fade-ImgFS {
    0% {
        transform: rotate(-28deg) translateY(75px) translateX(220px) scale(1) ;
        opacity: 1;
    }
    50% {
        transform: rotate(-28deg) translateY(75px) translateX(220px) scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: rotate(-28deg) translateY(75px) translateX(220px) scale(1.5);
        opacity: 0;
    }
}

@keyframes shrink-grow-fade-javions {
    0% {
        transform: rotate(-28deg) translateY(75px) translateX(200px) scale(1);
        opacity: 1;
    }
    50% {
        transform: rotate(-28deg) translateY(75px) translateX(200px) scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: rotate(-28deg) translateY(75px) translateX(200px) scale(1.5);
        opacity: 0;
    }
}

@keyframes shrink-grow-fade-clean {
    0% {
        transform: rotate(-27deg) translateY(75px) translateX(228px) scale(1);
        opacity: 1;
    }
    50% {
        transform: rotate(-27deg) translateY(75px) translateX(228px) scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: rotate(-27deg) translateY(75px) translateX(228px) scale(1.5);
        opacity: 0;
    }
}

.go-back-home {
    color: #DEB887;
    padding: 20px 30px; /* Adjust padding to control size */
    border: none; 
    border-radius: 50% 50% 0 0 / 80% 80% 0 0; /* Adjust to make it pick-shaped */
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    position: absolute; 
    bottom: 0px; 
    right: 30px; /* Changed from left to right */
    font-family: 'Century gothic';
}

.credit {
    color: #251501;
    padding: 20px 30px; /* Adjust padding to control size */
    border: none; 
    border-radius: 50% 50% 0 0 / 80% 80% 0 0; /* Adjust to make it pick-shaped */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    position: absolute; 
    bottom: 0px; 
    left: 30px; /* Changed from left to right */
    font-family: 'Century gothic';
}


  
.credit:hover {
    background-color: #8B4513; 
}

  
.go-back-home:hover {
    background-color: #8B4513; 
}
