@keyframes flicker {
    0%, 100% { 
        opacity: 1; 
        filter: blur(0.6px);
    }
    50% { 
        opacity: 0; 
        filter: blur(2px); /* Increase the blur during flicker */
    }
}

.projected-text {
    color: #030000; /* Lighter grey color */
    text-shadow: 0 0 10px rgba(255, 77, 77, 0.2); /* Subtle hint of red in the shadow */
    font-family: 'Courier New', Courier, monospace;
    filter: blur(0.6px);
    animation: flicker 1s alternate 3;
}

.projector-button {
    background-color: #690202; /* Slightly lighter background */
    color: rgb(252, 247, 247);
    border: none;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.projector-button:hover {
    background-color: #480101; 
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.projector-icon {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("/images/movie-projector.png"); 
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.projector-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 150px solid rgba(255, 110, 110, 0.5); /* Reduced horizontal size */
    transform: translateY(-52%) translateX(190px); /* Adjusted translation to match new size */
    pointer-events: none;
    animation: light-beam 1.5s infinite alternate;
}

@keyframes light-beam {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.2;
    }
}
