@keyframes flicker {
    0%, 100% { 
        opacity: 1; 
        filter: blur(0.6px);
    }
    50% { 
        opacity: 0; 
        filter: blur(2px); /* Increase the blur during flicker */
    }
}

.projected-text {
    color: #030000; /* Lighter grey color */
    text-shadow: 0 0 10px rgba(255, 77, 77, 0.2); /* Subtle hint of red in the shadow */
    font-family: 'Courier New', Courier, monospace;
    filter: blur(0.6px);
    animation: flicker 1s alternate 3;
}