.containerJavions {
  background-color: beige;
  padding: 20px;
  }
  
  .titleJavions {
  font-size: 3em;
  color: black;
  font-family: 'Eurostile';
  }
  
  .subtitleJavions {
  font-size: 2em;
  color: black;
  text-decoration: underline;
  font-family: 'Eurostile';
  }
  
  .textJavions {
  color: black;
  font-family: 'Eurostile';
  }
  
  .listJavions {
  list-style-type: disc;
  padding-left: 20px;
  color: black;
  }
  
  .image-containerJavions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  }
  
  .imageJavions {
  width: 50%;
  height: auto;
  }
  
  .video-containerJavions {
  display: flex;
  justify-content: center;
  }
  
  .videoJavions {
  width: 50%;
  height: auto;
  }
  
  .button-containerJavions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  }
  
  .buttonJavions {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-family: 'Eurostile';
  cursor: pointer;
  }

  .music-creditJavions {
  position: absolute;
  font-size: 0.8em;
  color: black;
  font-family: 'Eurostile';
  }